<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Wizard Alchemy Potions and Effects</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/guides-wizard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pociones.css') }}">

</head>
<body>

    <!-- NAVBAR -->

    {% include 'components/navbar.html' %}

    <!-- CONTENIDO -->

    <section class="guide-layout">

        <!-- SIDEBAR -->

            {% include 'components/guide-sidebar.html' %}

        <!-- CONTENIDO PRINCIPAL -->

        <div class="guide-content">

            <h2>All Wizard Alchemy Potions (Departure Isle)</h2>

            <p>
                First, you must go to the potion-making area to be able to make each of the potions you need. 
                Keep in mind that the potion you want <strong>is not guaranteed</strong> due to the creation percentages.
            </p>

            <img src="{{ url_for('static', filename='images/guides/pociones-hub.png') }}" alt="">

            <p>
                Green circles appear indicating a higher percentage of potion crafting; 
                these help us obtain the most difficult potions and have a lower percentage.
            </p>

            <img src="{{ url_for('static', filename='images/potions/zona-verde.png') }}" alt="">

            <p>
                To use these green areas you need the cauldron that the traveler sells you at a camp you find during your adventure.
            </p>

            <img src="{{ url_for('static', filename='images/potions/viajero.png') }}" alt="">

        <h3>Índice de Pociones</h3>

        <table class="index-table">

            <tr>
                <th>Pociones</th>
            </tr>

            <tr>
                <td><a href="#Ice Spike Potion">Ice Spike Potion</a></td>
            </tr>

            <tr>
                <td><a href="#Wind Blade Potion">Wind Blade Potion</a></td>
            </tr>

            <tr>
                <td><a href="#Rock Blast Potion">Rock Blast Potion</a></td>
            </tr>

            <tr>
                <td><a href="#Earth Shield Potion">Earth Shield Potion</a></td>
            </tr>

            <tr>
                <td><a href="#Ice Turtle Armor Potion">Ice Turtle Armor Potion</a></td>
            </tr>

            <tr>
                <td><a href="#Fire Arrow Potion">Fire Arrow Potion</a></td>
            </tr>

            <tr>
                <td><a href="#Lithe">Lithe Potion</a></td>
            </tr>

            <tr>
                <td><a href="#Meteorite Potion">Meteorite Potion</a></td>
            </tr>

            <tr>
                <td><a href="#Frost Thorns Potion">Frost Thorns Potion</a></td>
            </tr>

            <tr>
                <td><a href="#Tornado Potion">Tornado Potion</a></td>
            </tr>

            <tr>
                <td><a href="#Earth Spike Potion">Earth Spike Potion</a></td>
            </tr>

            <tr>
                <td><a href="#Lotus Blooms Potion">Lotus Blooms Potion</a></td>
            </tr>

            <tr>
                <td><a href="#Radiant Sword Potion">Radiant Sword Potion</a></td>
            </tr>

            <tr>
                <td><a href="#Dragon Breath Potion">Dragon Breath Potion</a></td>
            </tr>

            <tr>
                <td><a href="#Night Wraith Potion">Night Wraith Potion</a></td>
            </tr>

        </table>

            <h3>All Potions</h3>

            <section id="Ice Spike Potion">

                <table class="potion-table">

                    <tr>
                        <th colspan="2">
                            Ice Spike Potion
                        </th>
                    </tr>

                    <tr>

                        <td rowspan="2" class="potion-image">

                            <img src="{{ url_for('static', filename='images/potions/ice-spike-potion.png') }}" alt="Healing Potion">

                            <h4>Ice Spike Potion</h4>

                        </td>

                        <td>

                            <strong>Effects:</strong>

                            <p>
                                Shoots ice spikes at the target, dealing damage to opponents hit.
                            </p>

                        </td>


                    </tr>

                    <tr>

                        <td>

                            <strong>description:</strong>

                            <p>
                                Just like it's been taken straight out of the fridge, a summer essential.
                            </p>

                        </td>

                    </tr>

                </table>

                <h4>Is Ice Spike Potion Good to Use?</h4>

                    <p>
                        It's a potion that's very good for the initial phase of the game; it's balanced in cooldown,
                        since it charges quickly and has sufficient damage.
                    </p>

            </section>

            <section id="Wind Blade Potion">

                <table class="potion-table">

                    <tr>
                        <th colspan="2">
                            Wind Blade Potion
                        </th>
                    </tr>

                    <tr>

                        <td rowspan="2" class="potion-image">

                            <img src="{{ url_for('static', filename='images/potions/wind-blade-potion.png') }}" alt="Healing Potion">

                            <h4>Wind Blade Potion</h4>

                        </td>

                        <td>

                            <strong>Effects:</strong>

                            <p>
                                Shoots wind blades at the target, dealing damage to opponents hit.
                            </p>

                        </td>


                    </tr>

                    <tr>

                        <td>

                            <strong>description:</strong>

                            <p>
                                Very bitter, do not try lightly.
                            </p>

                        </td>

                    </tr>

                </table>

                <h4>Is Wind Blade Potion Good to Use?</h4>

                    <p>
                        It's a very good potion for the start of an adventure; 
                        it has the shortest cooldown but lower damage than other potions, but the more you use it, 
                        the more damage you'll surpass the other potions.
                    </p>

            </section>

            <section id="Rock Blast Potion">

                <table class="potion-table">

                    <tr>
                        <th colspan="2">
                            Rock Blast Potion
                        </th>
                    </tr>

                    <tr>

                        <td rowspan="2" class="potion-image">

                            <img src="{{ url_for('static', filename='images/potions/rock-blast-potion.png') }}" alt="Healing Potion">

                            <h4>Rock Blast Potion</h4>

                        </td>

                        <td>

                            <strong>Effects:</strong>

                            <p>
                                Shoots rocks at the target, dealing damage to opponents hit.
                            </p>

                        </td>


                    </tr>

                    <tr>

                        <td>

                            <strong>description:</strong>

                            <p>
                                The potion is mixed with gravel.
                            </p>

                        </td>

                    </tr>

                </table>

                <h4>Is Rock Blast Potion Good to Use?</h4>

                    <p>
                        The Rock Blast Potion is a good potion to have during the starting phase of the game.
                        It has enough damage to get through enemies and is reliable enough to survive in the early phase.
                    </p>

            </section>

            <h3>Uncommun potions</h3>

            <section id="Earth Shield Potion">

                <table class="potion-table">

                    <tr>
                        <th colspan="2">
                            Earth Shield Potion
                        </th>
                    </tr>

                    <tr>

                        <td rowspan="2" class="potion-image">

                            <img src="{{ url_for('static', filename='images/potions/earth-shield-potion.png') }}" alt="Healing Potion">

                            <h4>Earth Shield Potion</h4>

                        </td>

                        <td>

                            <strong>Effects:</strong>

                            <p>
                                Summons a wall of dirt that can block enemy attacks.
                            </p>

                        </td>


                    </tr>

                    <tr>

                        <td>

                            <strong>description:</strong>

                            <p>
                                Rumored to have health benefits, recommended to carry some.
                            </p>

                        </td>

                    </tr>

                </table>

                <h4>Is Earth Shield  Potion Good to Use?</h4>

                    <p>
                        The Earth Shield Potion is a good potion to have as a starter. The spells are a decent upgrade compared to the Common potions, 
                        and it is a good spell to use until you get a higher rarity wand that provides more damage and stat increase.
                    </p>

            </section>

            <section id="Ice Turtle Armor Potion">

                <table class="potion-table">

                    <tr>
                        <th colspan="2">
                            Ice Turtle Armor Potion
                        </th>
                    </tr>

                    <tr>

                        <td rowspan="2" class="potion-image">

                            <img src="{{ url_for('static', filename='images/potions/ice-turtle-armor.png') }}" alt="Healing Potion">

                            <h4>Ice Turtle Armor Potion</h4>

                        </td>

                        <td>

                            <strong>Effects:</strong>

                            <p>
                                Summons a spiky ice shield around the player for a certain duration. Deals damage to enemies when the shield is hit.
                            </p>

                        </td>


                    </tr>

                    <tr>

                        <td>

                            <strong>description:</strong>

                            <p>
                                The damage it deals upon being hit makes it very popular among young wizards.
                            </p>

                        </td>

                    </tr>

                </table>

                <h4>Is Ice Turtle Armor Good to Use?</h4>

                    <p>
                        The Earth Shield Potion is a good potion to have as a starter. The spells are a decent upgrade compared to the Common potions, 
                        and it is a good spell to use until you get a higher rarity wand that provides more damage and stat increase.
                    </p>

            </section>

            <section id="Fire Arrow Potion">

                <table class="potion-table">

                    <tr>
                        <th colspan="2">
                            Fire Arrow Potion
                        </th>
                    </tr>

                    <tr>

                        <td rowspan="2" class="potion-image">

                            <img src="{{ url_for('static', filename='images/potions/fire-arrow-potion.png') }}" alt="Healing Potion">

                            <h4>Fire Arrow Potion</h4>

                        </td>

                        <td>

                            <strong>Effects:</strong>

                            <p>
                                Shoots fire arrows at the target, dealing damage to opponents hit
                            </p>

                        </td>


                    </tr>

                    <tr>

                        <td>

                            <strong>description:</strong>

                            <p>
                                Keep away from fire when drinking.
                            </p>

                        </td>

                    </tr>

                </table>

                <h4>Is  Fire Arrow Potion Good to Use?</h4>

                    <p>
                        It's very good for being an uncommon potion; it's recommended for the start of the adventure before buying a better wand.
                    </p>

            </section>

            <section id="Lithe">

                <table class="potion-table">

                    <tr>
                        <th colspan="2">
                            Lithe Potion
                        </th>
                    </tr>

                    <tr>

                        <td rowspan="2" class="potion-image">

                            <img src="{{ url_for('static', filename='images/potions/Lithe.png') }}" alt="Healing Potion">

                            <h4>Lithe Potion</h4>

                        </td>

                        <td>

                            <strong>Effects:</strong>

                            <p>
                                Temporarily increases your movement speed.
                            </p>

                        </td>


                    </tr>

                    <tr>

                        <td>

                            <strong>description:</strong>

                            <p>
                                Don't keep drinking because it tastes good, one sip is enough.
                            </p>

                        </td>

                    </tr>

                </table>

                <h4>Is Lithe Potion Good to Use?</h4>

                    <p>
                        Wind potions at the start of the game and at slightly later levels are very good because of their low cooldown.
                    </p>

            </section>

            <h3>Rare Potions</h3>

            <section id="Meteorite Potion">

                <table class="potion-table">

                    <tr>
                        <th colspan="2">
                            Meteorite Potion
                        </th>
                    </tr>

                    <tr>

                        <td rowspan="2" class="potion-image">

                            <img src="{{ url_for('static', filename='images/potions/meteorite.png') }}" alt="Healing Potion">

                            <h4>Meteorite Potion</h4>

                        </td>

                        <td>

                            <strong>Effects:</strong>

                            <p>
                                Summons a flaming meteor to crash onto a target and deal damage to all opponents hit.
                            </p>

                        </td>


                    </tr>

                    <tr>

                        <td>

                            <strong>description:</strong>

                            <p>
                                Highly flammable, can be used as a firebomb.
                            </p>

                        </td>

                    </tr>

                </table>

                <h4>Is Meteorite Potion Good to Use?</h4>

                    <p>
                        The Meteorite Potion is a great potion to have, as it is a step above other potions, and the upgrade is generally noticeable.
                    </p>

            </section>

            <section id="Frost Thorns Potion">

                <table class="potion-table">

                    <tr>
                        <th colspan="2">
                            Frost Thorns Potion
                        </th>
                    </tr>

                    <tr>

                        <td rowspan="2" class="potion-image">

                            <img src="{{ url_for('static', filename='images/potions/Frost-Thorns-Potion.png') }}" alt="Healing Potion">

                            <h4>Frost Thorns Potion</h4>

                        </td>

                        <td>

                            <strong>Effects:</strong>

                            <p>
                                Attacks with a straight line of giant ice crystals that deal damage to all opponents hit.
                            </p>

                        </td>


                    </tr>

                    <tr>

                        <td>

                            <strong>description:</strong>

                            <p>
                                There are ice chips in the drink. Please shake well before drinking.
                            </p>

                        </td>

                    </tr>

                </table>

                <h4>Is Frost Thorns Potion Good to Use?</h4>

                    <p>
                        The Frost Thorns Potion is a great potion to have, as it is a step above other potions, and the upgrade is generally noticeable.
                    </p>

            </section>

            <section id="Tornado Potion">

                <table class="potion-table">

                    <tr>
                        <th colspan="2">
                            Tornado Potion
                        </th>
                    </tr>

                    <tr>

                        <td rowspan="2" class="potion-image">

                            <img src="{{ url_for('static', filename='images/potions/tornado-potin.png') }}" alt="Healing Potion">

                            <h4>Tornado Potion</h4>

                        </td>

                        <td>

                            <strong>Effects:</strong>

                            <p>
                                Summons a giant tornado for a short duration, moving forward and dealing damage to all opponents hit.
                            </p>

                        </td>


                    </tr>

                    <tr>

                        <td>

                            <strong>description:</strong>

                            <p>
                                Making the bottle is harder than making the potion.
                            </p>

                        </td>

                    </tr>

                </table>

                <h4>Is Tornado Potion Good to Use?</h4>

                    <p>
                        This potion is one of the best if you upgrade it to s, ss, sss because the cooldown is very low and it does a lot of area damage;
                        highly recommended for the first map.
                    </p>

            </section>

            <section id="Earth Spike Potion">

                <table class="potion-table">

                    <tr>
                        <th colspan="2">
                            Earth Spike Potion
                        </th>
                    </tr>

                    <tr>

                        <td rowspan="2" class="potion-image">

                            <img src="{{ url_for('static', filename='images/potions/earth-spike-potion.png') }}" alt="Healing Potion">

                            <h4>Earth Spike Potion</h4>

                        </td>

                        <td>

                            <strong>Effects:</strong>

                            <p>
                                Summons spikes from the ground, dealing damage to all enemies hit.
                            </p>

                        </td>


                    </tr>

                    <tr>

                        <td>

                            <strong>description:</strong>

                            <p>
                                For some reason, heavier than other potions.
                            </p>

                        </td>

                    </tr>

                </table>

                <h4>Is Earth Spike Potion Good to Use?</h4>

                    <p>
                        The Earth Spike Potion is a great potion to have, as it is a step above other potions, and the upgrade is generally noticeable.
                    </p>

            </section>

            <h3>Epic Potions</h3>

            <section id="Lotus Blooms Potion">

                <table class="potion-table">

                    <tr>
                        <th colspan="2">
                            Lotus Blooms Potion
                        </th>
                    </tr>

                    <tr>

                        <td rowspan="2" class="potion-image">

                            <img src="{{ url_for('static', filename='images/potions/lotus-blooms.png') }}" alt="Healing Potion">

                            <h4>Lotus Blooms Potion</h4>

                        </td>

                        <td>

                            <strong>Effects:</strong>

                            <p>
                                Summons giant ice lotus crystals that deal AoE damage to all opponents hit.
                            </p>

                        </td>


                    </tr>

                    <tr>

                        <td>

                            <strong>description:</strong>

                            <p>
                                Some wizards use it as perfume.
                            </p>

                        </td>

                    </tr>

                </table>

                <h4>Is Lotus Blooms Potion Good to Use?</h4>

                    <p>
                        The best of the epic potions, it has a very nice design, 
                        it has a lot of damage if upgraded and the cooldown is very low, very good for the whole adventure and the next world.
                    </p>

            </section>

            <section id="Radiant Sword Potion">

                <table class="potion-table">

                    <tr>
                        <th colspan="2">
                            Radiant Sword Potion
                        </th>
                    </tr>

                    <tr>

                        <td rowspan="2" class="potion-image">

                            <img src="{{ url_for('static', filename='images/potions/radiant-sword.png') }}" alt="Healing Potion">

                            <h4>Radiant Sword Potion</h4>

                        </td>

                        <td>

                            <strong>Effects:</strong>

                            <p>
                                Summons a large sword that drops from the sky, dealing damage to all enemies it lands on.
                            </p>

                        </td>


                    </tr>

                    <tr>

                        <td>

                            <strong>description:</strong>

                            <p>
                                A glowing potion, can be used as a flashlight.
                            </p>

                        </td>

                    </tr>

                </table>

                <h4>Is Radiant Sword Potion Good to Use?</h4>

                    <p>
                        The radiant sword potion has a lot of damage, a good and very flashy animation, 
                        but the cooldown is too long even with upgrades; it's not recommended.
                    </p>

            </section>

            <section id="Dragon Breath Potion">

                <table class="potion-table">

                    <tr>
                        <th colspan="2">
                            Dragon Breath Potion
                        </th>
                    </tr>

                    <tr>

                        <td rowspan="2" class="potion-image">

                            <img src="{{ url_for('static', filename='images/potions/dragon-breath.png') }}" alt="Healing Potion">

                            <h4>Dragon Breath Potion</h4>

                        </td>

                        <td>

                            <strong>Effects:</strong>

                            <p>
                                Creates a blast of fire, dealing damage to all enemies hit.
                            </p>

                        </td>


                    </tr>

                    <tr>

                        <td>

                            <strong>description:</strong>

                            <p>
                                Do you think I'll breathe fire like a dragon after drinking this?
                            </p>

                        </td>

                    </tr>

                </table>

                <h4>Is Dragon Breath Potion Good to Use?</h4>

                    <p>
                        The Dragon Breath Potion is one of the potions you should have during the mid to endgame transition,
                        as it boasts bigger stats that can push you through higher-tier enemies.
                    </p>

            </section>

            <h3>Legendary Potion</h3>

            <section id="Night Wraith Potion">

                <table class="potion-table">

                    <tr>
                        <th colspan="2">
                            Night Wraith Potion
                        </th>
                    </tr>

                    <tr>

                        <td rowspan="2" class="potion-image">

                            <img src="{{ url_for('static', filename='images/potions/night-wraith.png') }}" alt="Healing Potion">

                            <h4>Night Wraith Potion</h4>

                        </td>

                        <td>

                            <strong>Effects:</strong>

                            <p>
                                Shoots multiple lasers at the ground in a small AoE and deals damage to all enemies hit.
                            </p>

                        </td>


                    </tr>

                    <tr>

                        <td>

                            <strong>description:</strong>

                            <p>
                                Looks like a soul is sealed inside the bottle.
                            </p>

                        </td>

                    </tr>

                </table>

                <h4>Is Night Wraith Potion Good to Use?</h4>

                    <p>
                        The best potion of all is the one with the highest damage without upgrades, 
                        a very good animation, a very high cooldown but very high damage, highly recommended.
                    </p>

            </section>

            </div>

            <!-- ADS -->

            {% include 'components/ads.html' %}

    </section>

    <!-- FOOTER -->

    {% include 'components/footer.html' %}

    <!-- MODAL DE IMAGEN -->

    <div class="image-modal" id="imageModal">

        <span class="close-modal">&times;</span>

        <img class="modal-content" id="modalImage">

    </div>

    <script src="{{ url_for('static', filename='js/image-modal.js') }}"></script>

    <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>

</body>
</html>