<aside class="guide-sidebar">

    <h3>Guías</h3>

    <a href="/guides-wizard">Guía para Principiantes</a>

    <a href="/codes-wizard">Códigos activos</a>

    <button class="dropdown-btn dropdown-main">
        Pociones ▼
    </button>

    <div class="submenu">

        <button class="dropdown-btn dropdown-world">
            Potions Departure ISL ▼
        </button>

        <div class="submenu-world">

            <a href="/pociones">All Potions</a>

        </div>

        <button class="dropdown-btn dropdown-world">
            Potions Ashen Ruins ▼
        </button>

        <div class="submenu-world">

            <a href="#fire">Fire Potion</a>
            <a href="#dark">Dark Potion</a>
            <a href="#dragon">Dragon Potion</a>

        </div>

    </div>

    <a href="#">Materiales</a>

    <a href="#">Secretos y Cofres</a>

    <a href="#">Guía de enemigos</a>

    <a href="#">Mejores razas</a>

</aside>